
body{
    margin: 0;
    padding: 0;
}

.fundoAr{
  background-color: #38444d;
}

.linha{
    width: 250px;
    margin: auto;
    display: block;
}


h2{
    text-align: center;
    font-weight: 100;
    padding-top: 15px;
}

.menu{
    font-size: 20px;
    text-align: center;
}

input[type=button] {
  background-color: #060606;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.produto{
    display: inline-block;
    display: flex;
    justify-content: space-around;
}

.img_pequena{
    width: 200px;
}

/* body{
    cursor: url(../images/cursor.cur), default;
    cursor: url(../images/Pointer.cur), pointer;
} */


a{
    font-family: "Times New Roman";
    text-decoration: none;
    color: #000000;
    border: #3a3939;
    flex-direction: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;
  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(13, 136, 194);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* ------------------ Início Apresentação Inicial ---------------*/

.solar{
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.2);
    width: 800px;
    margin-left: 10px;
    position: absolute;
    top: 80px;
}

.texto1{
    float: right;
    margin-right: 10%;
    margin-top: 250px;
    
}

.linha1{
    width: 240px;
    position: absolute;
    top: 400px;
    right: 405px;
}

.txt:hover{
    color:  #38444d;
}

/* ------------------  Apresentação Inicial ---------------*/