
body{
    margin: 0;
    padding: 0;
    cursor: url('../images/cursor.cur'), default;
}

.fundo{
  background-color: #e2e0e0;
}

 /* ------------------------- MENU/DROPDOWN -------------------  */

a{
    font-family: "Times New Roman";
    text-decoration: none;
    color: #000000;
    border: #3a3939;
    flex-direction: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #38444d;

  }
  
  li {
    float: right;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: url('../images/pointer.cur'), pointer;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(13, 19, 172);
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

 /* ------------------------- FIM MENU/DROPDOWN -------------------  */


/* ------------------ Início Apresentação Inicial ---------------*/

.solar{
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.2);
    width: 800px;
    margin-left: 28px;
    position: absolute;
    top: 80px;
}

.texto1{
  position: absolute;
  right: 325px;
  top: 300px;
  font-weight: 100;
  padding-top: 15px;
  text-align: center;
}

.linha1{
    width: 240px;
    position: absolute;
    top: 400px;
    right: 390px;
}

.txt:hover{
    color:  #005a9e;   
}

/* ------------------  Fim Apresentação Inicial ---------------*/


/* ------------------  Inicio Missão, Visão e Valores ---------------*/

.redirecionar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px;
}

.redirecionar-conteudo{
  font-size: 18pt;
  text-align: center;
  margin-top: 700px;
}

.texto2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
}

.icone{
  width: 20px;
}
.visao{
  width: 25px;
}

/* ------------------  Fim Missão, Visão e Valores ---------------*/

/* ------------------  Inicio Serviços ---------------*/

.fundo3{
  background-color: #809aad;
}

.texto3{
  color: #38444d;
  text-align: center;
  position: relative;
  top: 14px;
}

.txt2:hover{
  color: #e2e0e0;
}

.linha2{
  width: 240px;
  margin-left: 43.60%;
  position: relative;
  top: 2px;
}

.img-servicos{
  width: 290px;
}

.div-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  margin-left: 90px;
  margin-top: 10px;
}
.servicos-grid {
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.txt-grid{
  text-align: center;
  margin-top: 20px;
  padding: 20px;
  color: #38444d;
}

/* ------------------  Fim Serviços ---------------*/

/* ------------------  Inicio Sobre Nós ---------------*/

.grid-texto{
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px;
  margin-left: 250px;
  margin-top: 10px;
  text-align: center;
}

.linha3{
  width: 240px;
  margin-left: 42.60%;
  position: relative;
  top: 2px;
}


.texto4{
  color: #38444d;
  margin-left: 60px;
}

.txt3:hover{
  color: #005a9e;
}

.texto5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  text-align: center;
  margin-left: 60px;
}

.img-logo{
  margin-left: 36%;
}

/* ------------------  Fim Sobre Nós ---------------*/

/* ------------------  Início Produtos ---------------*/

.produtos {
  background-color: #809aad;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
}

.produtos-header {
  margin: 15px;
}

.titulo {
  color: #38444d;
  display: flex;
  flex-direction: column; 
  align-items: center;
 
}

.titulo:hover{
  color: #e2e0e0;
}


.linha4{
  width: 240px;
  margin-left: 1%;
  position: relative;
  top: 2px;
}

.conteudo-produtos-info-divisoria {
  width: 100%;
}

.produtos-opcoesbtns {
  display: flex;
  margin: 20px auto;
  cursor: url('../images/pointer.cur'), pointer;
}


.produtos-opcoesbtns div{
  margin: 20px;
}

.imagens-produtos {
  display: flex;
  
}

.imagens-produtos div{
  margin: 10px;
  cursor: url('..images/pointer.cur'), pointer;
}

.imagens-produtos img {
  width: 70%;
  border-radius: 20px;
}

.imagens-produtos img:hover {
  width: 80%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  
}

.opcao{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12pt;
    cursor: url('../images/pointer.cur'), pointer;
}

.opcao:hover {
  background-color: rgb(13, 19, 172);
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

/* ------------------  Fim Produtos ---------------*/
