<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelos</title>

    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>



</head>
<body class="fundo" ng-app="">
    <div class="fundoAr">
        <h2>Produtos</h2>
        <img class="linha" src="images/linha.svg" alt="Linha">

       <nav class="menu">
            <ul>
                <input type="radio" ng-model="opcao" value="Ar Condicionado"> Ar Condicionado
                <input type="radio" ng-model="opcao" value="Ar Condicionado Inverter"> Ar Condicionado Inverter
                <input type="radio" ng-model="opcao" value="Multi Split"> Multi Split
                <input type="radio" ng-model="opcao" value="Energia Solar"> Energia Solar
            </ul>
       </nav>
       <div ng-switch="opcao" class="produtos">
            <div ng-switch-when="Ar Condicionado">
                <img class="img_pequena" src="images/ArCondicionado.jpg" alt="Ar Condicionado">
                <img class="img_pequena" src="images/ArCondicionado.jpg" alt="Ar Condicionado">
                <img class="img_pequena" src="images/ArCondicionado.jpg" alt="Ar Condicionado">
                <img class="img_pequena" src="images/ArCondicionado.jpg" alt="Ar Condicionado">
                <img class="img_pequena" src="images/ArCondicionado.jpg" alt="Ar Condicionado">
            </div>
            <div ng-switch-when="Ar Condicionado Inverter" class="produtos">
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
            </div>
            <div ng-switch-when="Multi Split" class="produtos">
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
            </div>
            <div ng-switch-when="Energia Solar" class="produtos">
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
                <img src="" alt=>
            </div>
      </div>     
    </div>

</body>
</html>